page-book-details {
	.details{
	    margin: 36px 24px;
		h2{
		  font-size: 22px;
		  margin: 16px 0 4px;
		  color: #444;
		}
		h3{
		  font-size: 14px;
		  margin:0;
		  color: #777;
		}
		.icon{
			margin: 6px 6px 0 0;
			color: #777;
			font-size: 15px;
		}
	}

	.button{
		float: right;
		color: #000;
		font-size: 20px;
	}

	p{
		font-size: 14px;
		text-indent: 30px;
		line-height: 1.4;
	}
}
