<ion-header>
  <ion-navbar color="header">
    <ion-title>My Books</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="spinner" *ngIf="!service?.allBooks"><ion-spinner name="bubbles"> </ion-spinner></div>
  <div class="my-books" *ngIf="service?.allBooks && myBooks?.length">
  	<div *ngFor="let item of myBooks">
  	 <ion-item>
  	 	<ion-avatar item-start>
  	    	<img src="{{item.image}}" (click)="gotoBook(item)">
  	    </ion-avatar>
  	 	<h1 (click)="gotoBook(item)">{{item.bookname}}</h1>
  	 	<h2><span>ISBN : </span>{{item.isbn}}</h2>
  	 	<h2 text-capitalize><span>Category : </span> {{item.category}}</h2>
      <h3><span>Published on </span> {{item.addedDate | date}}</h3>
      <ion-row>
        <ion-col>
  	 	     <button ion-button clear (click)="remove(item.isbn)" [disabled]="disableSubmit"> Delete</button>
        </ion-col>
        <ion-col>
          <button ion-button clear (click)="edit(item)" [disabled]="disableSubmit"> Edit</button>
        </ion-col>
      </ion-row>
  	 </ion-item>

  	</div>
  </div>
  <div *ngIf="myBooks" class="empty">
  		<h3 *ngIf="!myBooks.length">No books found ! </h3>
  </div>
</ion-content>
