page-categories {
	.categories{
		margin: 16px;
		.col{
		    padding: 10px;
		    border: .5px solid #ddd;
		    border-radius: 5px;
			img{
				display: block;
				margin: auto;
				width: 70px;
				height: 70px;
				border-radius: 50%;
			}
			h2{
				margin: 16px;
				text-align: center;
				font-size: 16px;
			}
		}
		h1{
			margin: 26px 0;
			font-size: 16px;
		}
	}
}
